{% extends 'base.html' %}

{% block title %}Acerca de{% endblock %}

{% block header_img %}{{ url_for('static', filename='img/about-bg.jpg') }}{% endblock %}
{% block header_title %}Acerca de{% endblock %}
{% block header_sub %}Biografía{% endblock %}

{% block content %}
    <!-- Contenido Principal -->
    <div class="container">
      <div class="row">   
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{{ url_for('static', filename='img/avatarl.jfif') }}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">Uppi Montiel</h2>   
          <p>Nacida en el Estado de Tlaxcala.</p>
          <p>Técnico en Redes</p>
        </div>
      </div>  
    </div>

{% endblock %}