{% extends 'base.html' %}

{% block title %}Acerca de{% endblock %}

{% block content %}
    <!-- Cabecera -->
    <header class="masthead" style="background-image: url('img/about-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Acerca de</h1>
              <span class="subheading">Biografía</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Contenido Principal -->
    <div class="container">
      <div class="row">   
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{{ url_for('static', filename='img/avatarl.jfif') }}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">Uppi Montiel</h2>   
          <p>Nacida en el Estado de Tlaxcala.</p>
          <p>Mi cumpleaños es el 21 de Junio</p>
        </div>
      </div>  
    </div>

    <hr>
{% endblock %}