{% extends 'base.html' %}

{% block title %}Portfolio{% endblock %}

		
{% block header_img %}{{ url_for('static', filename='img/portfolio-bg.jpg') }}{% endblock %}
{% block header_title %}Portfolio{% endblock %}
{% block header_sub %}Currículo{% endblock %}

{% block content %}
	    <!-- Contenido Principal -->
	    <div class="container">
	      <!-- Proyecto -->
	      <div class="row project">  	
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="{{ url_for('static', filename='img/about-bg.jpg') }}" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">Segundo proyecto</h2>   
	          <p>As we got further and further away, it [the Earth] diminished in size. Finally it shrank to the size of a marble, the most beautiful you can imagine. That beautiful, warm....</p>
	          <p><a href="http://google.com">Más información</a></p>
	      	</div>
	      </div>
	      <!-- Proyecto -->
	      <div class="row project">  	
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="{{ url_for('static', filename='img/home-bg.jpg') }}" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">Primer proyecto</h2>   
	          <p>As we got further and further away, it [the Earth] diminished in size. Finally it shrank to the size of a marble, the most beautiful you can imagine. That beautiful, warm....</p>
	          <p><a href="http://google.com">Más información</a></p>
	      	</div>
	      </div>
		  </div>
{% endblock %}