{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block header_title %}Authentication{% endblock %}
{% block header_sub %}Login{% endblock %}

{% block content %}
    <div class="container">
        <h2> Login Form</h2>
        <form class="mt-3" method="post">
            {{ form.hidden_tag() }}
            <!--Username -->
            <div class="mb-3">
                {{form.email.label}}
                {{form.email(class="form-control")}}
                <!--<input type="email" class="form-control" id="mail" name="mail">-->
                <small id="emailHelp" class="form-text text-muted">Tu correo no será guardado a menos que tu lo indiques.</small>
            </div>
            <!--Password -->
            <div class="mb-3">
                {{form.password.label}}
                {{form.password(class="form-control")}}
              
                <!--<input type="password" class="form-control" id="password" name="password">-->
            </div>
            
            <!-- Submit-->
            <!--<button type="submit" class="btn btn-primary">Ingresa</button>-->
            {{ form.submit(class="btn btn-primary") }}
            <a href="{{ url_for('register') }}" class="btn btn-dark">Registro</a>
        </form>
    </div>
{% endblock %}